<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/jquery-3.6.1.min.js"></script>
    <script>
            $(function onWritesubmit(){

                $("#btnJoin").click(
                    function () {
                        if ($("#id").val() == "") {
                            alert("아이디를 꼭 입력 하세요");
                            $("#id").focus();
                            return;
                        }
                        if ($("#passwd").val() == "") {
                            alert("비밀번호를 꼭 입력 하세요");
                            $("#passwd").focus();
                            return;
                        }
                        if ($("#name").val() == "") {
                            alert("이름을 꼭 입력하세요");
                            $("#name").focus();
                            return;
                        }
                        $().submit();
                    }
                );
            });
    </script>
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/board/user" method="post" onsubmit="return onWritesubmit()">
            <table width="400" border="1">
                <tr>
                    <th>아이디</th>
                    <td><input type="text" name="UserID" id="id" size="12" maxlength="12"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td><input type="text" name="UserName" id="name" size="10" maxlength="10"></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td><input type="password" name="UserPW" id="passwd" size="12" maxlength="12"></td>
                </tr>
                <tr>
                    <th>나이</th>
                    <td><input type="age" name="UserAge" id="age" size="5" maxlength="5"></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><input type="Phone" name="UserPhone" id="tel" size="13" maxlength="13"></td>
                </tr>
                <tr>
                    <th>종류</th>
                    <td>
                        <select name="type" id="type">
                            <option value="유저">유저</option>
                            <option value="관리자">관리자</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">가입</button> 
                        <input type="reset" name="cancel" value="취소">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>